
@{
    ViewBag.Title = "AddInterest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>İlgi Alanı Ekle</h2>
<br />
<form method="post" class="form-group">
    <label>İlgi Alanı</label>
    <input type="text" name="Description" class="form-control" placeholder="İlgi Alanı Giriniz..." />
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

