@model CvProject.Models.Entities.Experience

@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni İş Deneyimi Ekle</h2>
<br />

<form method="post" class="from-group">
    <label>Firma/Şirket Adı</label>
    <input type="text" name="Title" value="" placeholder="Firma/Şirket Adı Giriniz..." class="form-control" />
    <br />
    <label>Ünvan/Pozisyon</label>
    <input type="text" name="Subtitle" value="" placeholder="Ünvan/Pozisyon Giriniz..." class="form-control" />
    <br />
    <label>Başlangıç - Bitiş Tarihi</label>
    <input type="text" name="Date" value="" placeholder="Başlangıç - Bitiş Tarihi Giriniz..." class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea type="text" name="Description" value="" placeholder="Açıklama Giriniz..." class="form-control" rows="5" ></textarea>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

