
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kullanıcı Ekle</h2>
<br />

<form method="post" class="from-group">
    <label>Kullanıcı Adı</label>
    <input type="text" name="Username" value="" placeholder="Kullanıcı Adı Giriniz..." class="form-control" />
    <br />
    <label>Şifre</label>
    <input type="text" name="Password" value="" placeholder="Şifre Giriniz..." class="form-control" />
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

